In [2]:
import pandas as pd

## Como crear Pandas Series con indice automatico y especificado

In [5]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
         index=[1, 7, 10, 30]
         )

In [6]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

## Creando una Panda Series desde un Diccionario

In [8]:
dict = {1: 'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
dict

{1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi'}

In [9]:
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

## Para acceder a los Index se tiene que ingresar la Key correcta no la posiciÃ³n del valor

In [27]:
psg_players[0]

KeyError: 0

In [12]:
psg_players[1]

'Navas'

In [13]:
psg_players[10]

'Neymar'

### Se puede hacer Slicing de un Data Series

In [14]:
psg_players[0:3]

1      Navas
7     Mbappe
10    Neymar
dtype: object

## Creando un DataFrame con Pandas

In [19]:
dict = {
    'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
    'Altura': [183.0, 185.0, 170.0, 169.0],
    'Goles': [2, 250, 550, 770],
}

### Creando un DataFrame desde un diccionario con index generado automaticamente

In [20]:
pd.DataFrame(dict)

  Jugador  Altura  Goles
0   Navas   183.0      2
1  Mbappe   185.0    250
2  Neymar   170.0    550
3   Messi   169.0    770

### Especificando los index

In [21]:
pd.DataFrame(dict, index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   185.0    250
10  Neymar   170.0    550
30   Messi   169.0    770

In [22]:
df_players = pd.DataFrame(dict, index=[1,7,10,30])
df_players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   185.0    250
10  Neymar   170.0    550
30   Messi   169.0    770

### Mostrando las columnas e index que tiene un DataFrame

In [24]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [25]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

In [26]:
df_players2 = pd.DataFrame(dict)
df_players2.index

RangeIndex(start=0, stop=4, step=1)